<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlashApp</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    
</head>
<body>
    <h1>FlaskTODO</h1>
    <hr> 
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">Todo content</label></b>
        </p>
        <p>
            <input type="text" name="content" placeholder="Todo content"/>
        </p>
        <p><b><label for="degree">Degree</label></b></p>
        <p>
            <input id="degree-0" name="degree" required type="radio" value="Important">
            <label for="degree-0">Important</label>
        </p>
        <p>
            <input  name="degree" id="degree-1" required type="radio" value="Unimportant">
            <label for="degree-1">Unimportant</label>
        </p>
        <button type="submit">Submit</button>
    </form>
     <hr>
     {% for todo in todos %}
       <div class="todo">
        <p>{{todo['content']}} <i> ({{todo ['degree']}})</i></p>
        <form action="{{url_for('delete',id=todo['_id'])}}" method="POST">
            <input type="submit" value="Delete" onclick="return confirm('Are your sure you want to delete thsi entry')">
        </form>
       </div>
       {% endfor%}
    </div>
</body>
</html>